body { font-family: 'Poppins', sans-serif; }
.container { max-width: 980px; }
.modal { position: fixed; top:0; left:0; right:0; bottom:0; display:flex; align-items:center; justify-content:center; }
.modal .modal-content { max-width: 900px; }
